
<div class="container-fluid text-left" ng-controller="MyProjectController" ng-init="getUserProjects()">
  <h1> Projects: {{ projectName }} </h1>
  <br>

  <div class="container-fluid text-left" >
    <div class="row">
      <hr>
      <h3>Your Projects</h3>
      <div class="panel panel-default">
        <div class="panel-heading">
           <h3 class="panel-title pull-left">Project #1</h3>
            <button class="btn btn-default pull-right">Edit</button>
            <button class="btn btn-default pull-right">Delete</button>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">Project #1 description</div>
      </div>

      
    </div>

  </div>
</div>
