<h1>Projects: </h1>

<br>
<div class="container-fluid text-left" ng-controller="ProjectsController" ng-init="getUserProjects()">
  <div>
     <form  role = "form" ng-submit="createNewProject()">
        <div class = "row">
           <div class = "col-lg-6">
              <div class = "input-group">
                 
                 <span class = "input-group-btn">
                    <button class = "btn btn-default" type="submit">
                       New+
                    </button>
                 </span>
            
                 <input type = "text" class = "form-control" name="project_name" ng-model="newProject.project_name" required>
                 
              </div><!-- /input-group -->
           </div><!-- /.col-lg-6 --><br>
     </form>
  </div>

  <div class="container-fluid text-left" >
    <div class="row">
      <hr>
      <h3>Your Projects</h3>



      <div class="panel panel-default" ng-repeat="prjs in project_names">
        <div class="panel-heading">
           <h3 class="panel-title pull-left">{{prjs}}</h3>
            <button class="btn btn-default pull-right" data-ng-click="DeleteProject(prjs)">Delete</button>
            <button class="btn btn-default pull-right" data-ng-click="ViewProject(prjs)">View</button>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">Project #1 description</div>
      </div>



          
   <!--   <div class="panel panel-default">
        <div class="panel-heading">
           <h3 class="panel-title pull-left">Project #2</h3>
            <button class="btn btn-default pull-right">Edit</button>
            <button class="btn btn-default pull-right">Delete</button>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">Project #2 description</div>
      </div>-->
    </div>

  </div>
</div>

