<h1>Inertial Flow: Run Network</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
<br><br>
<hr>
<div class="container-fluid text-left" ng-controller="RunNetworkController" ng-init="getJSONFiles()">
  <div class="row">
   <div>
      <form role="form" ng-submit="runNetwork()">
        <div class="form-group">
          <input type="text" name="file" class="form-control" id="url-box" placeholder="enter json file" style="max-width: 300px;" ng-model="file" required>
        </div>
        <!--{% raw %}-->
        <button type="submit" class="btn btn-primary" ng-disabled="loading">{{ submitButtonText }}</button>
        <!--{% endraw %}-->
      </form>
    </div>
    <div class="col-sm-2 text-left" ng-show="loading">
      <img  src="static/img/spinner.gif" ng-show="loading" style="max-height: 50px">
    </div>
  </div>

  <div class="row">
    <hr>




    <h3>Available Network Files</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Files</th> 
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="json in json_files">
          <td>
            <input type="checkbox" checklist-model="user.json_files" checklist-value="role"> {{json}}
          </td>
        </tr>
      </tbody>
    </table>




    <br>
  </div>
            
  
  
  </div>
</div> 