<h1>Upload Data File </h1>
<p>Upload data user your account... more info to come.</p>
<br>

<div class="container-fluid text-left" ng-controller="UploadDataController" ng-init="getDataFiles()">
 <div class="row">
	<hr/>
    <div>
    	<form  role="form" enctype="multipart/form-data">
      		<div class="form-group">
        		<input type="file"  file-model="myFile" style="max-width: 300px;" required><br />
        		<button ng-click="uploadDataFile()" class="btn btn-primary">Upload</button>
        	</div>
      	</form>
    </div>
    <div id="chart"></div>
      	<div class="well" ng-show='fileError'>
            <div class="alert alert-danger" role="alert" >
            	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                <span>There was an error submitting your file.<br>Please check to make sure it is valid before trying again.</span>
            </div>
        </div>
    </div>
	<div class = "row">
    	<h3>Current Data Files</h3>
		<table class="table table-striped">
      		<thead>
        		<tr>
        			<th style="max-width: 20px;">Order</th>
          			<th>File Name</th> 
       			</tr>
      		</thead>
      		<tbody>
        		<tr ng-repeat="(key, val) in filelist">
          			<td>{{key}}</td>
         			<td>{{val}}</td>
        		</tr>
      		</tbody>
    	</table>
	</div>
</div>
    
   